{% extends 'header.html' %}
{%load static%}
{% block content%}
<link type="text/css" media="screen" rel="stylesheet" href="https://cdn.atrapalo.com/common/csst/fs.63,163,150,153,160,162,317,46,1010,504,10004/r20220628180655p1">
<link type="text/css" media="screen" rel="stylesheet" href="https://cdn.atrapalo.com/common/csst/fs.1010,504,10004/r20220629144440p1">
<style>
    #infoMIA {
        display: block;
        margin-top: 180px;
        margin-left: 400px;
    }


</style>
{% if consulta == 'view' %}

<div id="infoMIA" class="columns large-9">
    <div class="content" style="display: block;">
        <div>
            <div id="templatePerfilMIA">
                <p class="title">Datos personales</p>
                <div id="box-noti-perfil"></div>
                <div id="box-noti-profile-edit"></div>
                <div id="app-profile-basic" class="box box-mia atrapapunto-mia">
                    <div>
                        <div class="box-head atrapaloFont">Datos básicos</div>
                        <div class="box-content datos">
                            <p class="clear">
                                <span class="left">Tu foto:</span>
                                <span class="right foto-content">
                                    <img height="90" width="90"
                                        src=""
                                        class="profile">
                                </span>
                            </p>
                            <p class="clear"><span class="left">Nombre:</span><span class="right">{{user.name}}</span>
                            </p>
                            <p class="clear"><span class="left">Apellidos:</span><span
                                    class="right">{{user.lastname}}</span></p>
                            <p class="clear"><span class="left">Teléfono móvil:</span><span class="right">{{user.phone}}</span></p>
                            <div class="boton clear">
                                <span class="right">
                                    <a class="app-mode-edit floatl btn large ellipsis js-toggle"
                                        href="/myaccount/change/personal" title="Editar datos básicos">
                                        Editar datos básicos
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="box-noti-orders-profile-edit"></div>
                <div id="app-profile-orders" class="box box-mia atrapapunto-mia" style="display: none;">
                    <div>
                        <div class="box-head atrapaloFont">Datos adicionales</div>
                        <div class="box-content datos">
                            <p class="clear"><span class="left">Nacionalidad:</span><span class="right">--</span></p>
                            <p class="clear"><span class="left">Provincia:</span><span class="right">--</span></p>
                            <p class="clear"><span class="left">Población:</span><span class="right">--</span></p>
                            <p class="clear"><span class="left">Código postal:</span><span class="right">-- </span></p>
                            <p class="clear"><span class="left">Nº de DNI/CE/PAS:</span><span class="right">--</span>
                            </p>
                            <p class="clear"><span class="left">Nº de pasaporte:</span><span class="right">--</span></p>
                            <p class="clear"><span class="left">Fecha de caducida del pasaporte:</span><span
                                    class="right"> </span></p>
                            <div class="boton clear">
                                <span class="right">
                                    <a class="app-mode-edit floatl btn large ellipsis js-toggle"
                                        href="/myaccount/change/personal" title="Editar datos para reserva">Editar datos
                                        para reserva</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="app-profile-access" class="box box-mia atrapapunto-mia">
                    <div>
                        <div id="box-noti-accesos"></div>
                        <div class="box box-mia">
                            <div class="box-head atrapaloFont">Datos de acceso</div>
                            <div class="box-content datos">
                                <p class="clear">
                                    <span class="left">Email<span></span>:</span><span
                                        class="right">{{user.email}}</span>
                                </p>
                                <p class="clear"><span class="left">Contraseña:</span><span class="right">******</span>
                                </p>
                                <div class="boton clear "><span class="right">
                                    <a class="floatl btn large ellipsis js-toggle" href="/myaccount/change/password/"
                                            title="Editar datos acceso">Editar datos acceso</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif%}
{% if consulta == 'edit_datos' %}
    
<div id="infoMIA" class="columns large-9">
    
    <div class="content" style="display: block;">
        <div>
            <div id="templatePerfilMIA">
                <p class="title">Datos personales</p>
                <div id="box-noti-perfil"></div>
                <div id="box-noti-profile-edit"></div>
                <div id="app-profile-basic" class="box box-mia atrapapunto-mia">
                    <div>
                        <div class="box-head atrapaloFont">Datos básicos</div>
                        <div class="box-content datos">
                            <form method="POST" action="">
                                {% csrf_token %}
                                <div class="clear">
                                    <span class="left">
                                    <label class="bold">Tu foto:</label>
                                    <span class="right">
                                        <div class="foto-content">
                                        
                                            <img id="avatar" height="90" width="90"
                                                src=""
                                                class="profile float" >
                                            <!-- <span class="alert js-foto-subida" style="display:none;"><img
                                                    src="" class="s-ma ico-ok" width="30"
                                                    height="30">Foto subida correctamente</span>
                                            <span class="alert js-foto-borrada" style="display:none;"><img
                                                    src="" class="s-ma ico-ok" width="30"
                                                    height="30">Foto borrada correctamente.</span>
                                            <div class="clear"></div>
                                            <div id="file-uploader">
                                                <noscript>
                                                    <p>Please enable JavaScript to use file uploader.</p> -->
                                                    <!-- or put a simple form for upload here -->
                                                <!-- </noscript>
                                            </div>
                                            <img src=""
                                                class="loader floatl js-foto-spinner"
                                                style="margin-top:0; display:none;">
                                            <button type="button" class="js-upload-avatar-button btn">Cambiar
                                                foto</button>
                                            <div>
                                                <p><span class="js-foto-eliminar "><a title="Eliminar foto"
                                                            href="#">Eliminar foto</a></span></p>
                                            </div>-->
                                        </div> 
                                    </span>
                                </div>
                                <input id="id_email" style="display: none;" type="text" name="email" value="{{user.email}}">
                                {{update_form.errors}}
                                <div class="input-txt  input-h33  datos">
                                    <p class="clear"> 
                                        <span class="left">
                                            <label for="perfil_nombre">Nombre:</label>
                                            <span class="right">
                                                <input id="id_name"  style="text-align:center;" type="text" 
                                                name="name" value="{{user.name}}">
                                            </span>
                                    </p>   
                                </div>
                                <div class="input-txt  input-h33  datos">
                                    <p class="clear"> 
                                        <span class="left">
                                            <label for="perfil_apellido" >Apellidos:</label>
                                            <span class="right">
                                                <input id="id_lastname"  style="text-align:center;" type="text"
                                                name="lastname" value="{{user.lastname}}"></span>
          
                                    </p>
                                </div>
                                <div class="input-txt  input-h33  datos">
                                    <p class="clear"> 
                                    <span class="left">
                                        <label for="perfil_telefono_movil" >Teléfono móvil:</label>
                                        <span class="right">
                                            <input id="id_phone" style="text-align:center;" min="0" max="999999999" type="number" 
                                            name="phone" value="{{user.phone}}"></span>
                                        </p>
                     
                                </div>
                                <div class=" clear datos">
                                    <span class="left">
                                        <span class="right">
                                            <input class="btn floatl large js-save" type="submit" value="Guardar Datos">
                                        </span>
                                        <span class="cancelar"><a class="app-cancel" title="Cancelar cambios"
                                                href="/myaccount">Cancelar cambios</a></span>
                                            </span>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div id="app-profile-access" class="box box-mia atrapapunto-mia">
                    <div>
                        <div id="box-noti-accesos"></div>
                        <div class="box box-mia">
                            <div class="box-head atrapaloFont">Datos de acceso</div>
                            <div class="box-content datos">
                                <p class="clear">
                                    <span class="left">Email<span></span>:</span><span
                                        class="right">{{user.email}}</span>
                                </p>
                                <p class="clear"><span class="left">Contraseña:</span><span class="right">******</span>
                                </p>
                                <div class="boton clear "><span class="right">
                                    <a class="floatl btn large ellipsis js-toggle" href="/myaccount/change/password/"
                                            title="Editar datos acceso">Editar datos acceso</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif%}
{% if consulta == 'edit_password' %}
<div id="infoMIA" class="columns large-9">
    
    <div class="content" style="display: block;">
        <div>
            <div id="templatePerfilMIA">
                <p class="title">Datos personales</p>
                <div id="box-noti-perfil"></div>
                <div id="box-noti-profile-edit"></div>
                <div id="app-profile-basic" class="box box-mia atrapapunto-mia">
                    <div>
                        <div class="box-head atrapaloFont">Datos básicos</div>
                        <div class="box-content datos">
                            <p class="clear">
                                <span class="left">Tu foto:</span>
                                <span class="right foto-content">
                                    <img height="90" width="90"
                                        src=""
                                        class="profile">
                                </span>
                            </p>
                            <p class="clear"><span class="left">Nombre:</span><span class="right">{{user.name}}</span>
                            </p>
                            <p class="clear"><span class="left">Apellidos:</span><span
                                    class="right">{{user.lastname}}</span></p>
                            <p class="clear"><span class="left">Teléfono móvil:</span><span class="right">{{user.phone}}</span></p>
                            <div class="boton clear">
                                <span class="right">
                                    <a class="app-mode-edit floatl btn large ellipsis js-toggle"
                                        href="/myaccount/change/personal" title="Editar datos básicos">
                                        Editar datos básicos
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="app-profile-access" class="box box-mia atrapapunto-mia">
                    <div>
                        <div id="box-noti-accesos"></div>
                        <div class="box box-mia">
                            <div class="box-head atrapaloFont">Datos de acceso</div>
                            <div class="box-content datos">
                                <form method="POST" action="">
                                    {% csrf_token %}
                                    <div class="input-txt nput-h33  dato"> 
                                        <p class="clear"> 
                                            <span class="left">
                                            <label>Email:</label>
                                            <span class="right">
                                                <input id="id_email" type="text" 
                                                name="email" value="{{user.email}}"> 
                                            </span>
                                        
                                        </p>
                                    </div>
                                    <div class="input-txt nput-h33  datos"> 
                                        <p class="clear"> 
                                            <span class="left">
                                            <label for="contrasena_actual">Tu contraseña actual:</label> 
                                            <span class="right">
                                            <input id="id_old_password" type="password"
                                            placeholder="" name="old_password" value="">
                                        </span>
                                        </p>
                                        <div class="box-error w24p error-password hidden"></div>
                                    </div>
                                    <div class="input-txt nput-h33  datos"> 
                                        <p class="clear"> 
                                            <span class="left">
                                                <label
                                            for="contrasena_nueva">Tu nueva contraseña:</label> 
                                            <span class="right">

                                            <input
                                            id="id_new_password1" type="password"
                                            placeholder="" name="new_password1" value="">   
                                          </span>
                                        </p>
                                        <div class="box-error w24p error-new_password hidden"></div>
                                    </div>
                                    <div class="input-txt input-h33  datos"> 
                                        <p class="clear"> 
                                            <span class="left">
                                               
                                        <label
                                            for="contrasena_nueva2">Repite la contraseña:</label>  
                                            <span class="right">

                                            <input
                                            id="id_new_password2" type="password"
                                            placeholder="" name="new_password2" value="">     
                                        </span>
                                        </p>
                                    </div>

          
                                    <div class="clear datos"> 
                                        <span class="left">
                                        <span class="right"> 
                                            <input class="btn floatl large js-save" type="submit" value="Guardar Datos">
                                            <span id="loading" class="hidden"><img class="loader floatl"
                                                    src=""></span> <span
                                                class="cancelar js-toggle"><a title="Cancelar cambios" href="/myaccount">Cancelar
                                                    cambios</a></span> </span> </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif%}
{% endblock%}