{% extends 'header.html' %}
{%load static%}
{% block content%}
<link type="text/css" media="screen" rel="stylesheet" href="https://cdn.atrapalo.com/common/csst/fs.63,163,150,153,160,162,317,46,1010,504,10004/r20220628180655p1">
<link type="text/css" media="screen" rel="stylesheet" href="https://cdn.atrapalo.com/common/csst/fs.1010,504,10004/r20220629144440p1">
<style type="text/css" src="{% static 'assets/css/style.css' %}"></style>
<link type="text/css" media="all" rel="stylesheet" href="{% static 'assets/css/pages/products/user/profile/mybookings.c1d5995dff9d6e0d1ff858af856d336a.css' %}">

{% include 'atrapalo/menuMIA.html' %}
<div id="infoMIA" class="columns large-9">
    <div class="content" style="display: block;">
        <section class="points-overview-view">
        <div class="box box-mia atrapapunto-mia">
        <p class="title">Puntos Aloja</p>
            <!-- <div class="row box-content box-tus-puntos">
            <div class="points-resume-view-container">
                <div class="view-points-resume large-5 medium-4 small-12 columns pad0 tus-puntos">
                    <div class="large-6 medium-12 small-6 pad0 columns">
                        <div class="puntos-espera pending-points">
                            <span class="icon-duracion" original-title="<p>Pendientes de validar una vez disfrutada la actividad.</p>"></span>
                            <p>
                                <span class="points">0</span>
                                <span>Puntos en espera<span id="tooltip-pending-points" class="icon-info_i" original-title="<p>Puntos pendientes de validar una vez disfrutada la actividad.</p>"></span>
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="large-6 medium-12 small-6 columns pad0">
                        <div class="puntos-acumulados available-points">
                            <p>
                                <span class="points">0</span>
                                <span>Puntos acumulados</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="points-progress-container">
                <div class="app-progress-view large-7 medium-8 columns hide-for-small-only bara-box">
                    <div class="bara-puntos">
                        <div class="relleno" style="width: 0%;"></div>
                        <div class="pin" style="left: 0%; opacity: 1; top: -48px;">¡Estás aquí!</div>
                        <div class="vouchers-list"><div><div class="puntos-200">
                            <div class="topo"></div>
                            <p>200<span>Vale por <span><span class="currency">USD</span>5</span></span></p>
                            </div></div><div><div class="puntos-700">
                            <div class="topo"></div>
                            <p>700<span>Vale por <span><span class="currency">USD</span>20</span></span></p>
                            </div></div><div><div class="puntos-1500">
                            <div class="topo"></div>
                            <p>1500<span>Vale por <span><span class="currency">USD</span>50</span></span></p>
                            </div></div>
                            <div>
                                <div class="puntos-3000">
                                    <div class="topo"></div>
                                    <p>3000<span>Vale por <span><span class="currency">USD</span>120</span></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div> -->
        <div class="row box-content vales">
            <div class="vouchers-list-view-container"><div class="vouchers-list-view"><h4>

        ¡Te faltan <span class="numPoints verde">200</span> puntos para conseguir un Gift Card de Travelix!

        </h4>
        <div class="app-vouchers-list-item"><div class="voucher column large-3 medium-6 small-12 unavailable" data-voucher-id="13"><div class="vale">
        <p class="valor-vale atrapaloFont app-money-value vale-es_PE">
            <span><span class="currency">USD</span>5</span>
        </p>
        <div class="franja-puntos">
            <p class="app-points-price">200</p>
            <span>puntos</span>
        </div>
        </div>
        <a class="app-exchange-link canjear disabled" href="">Canjear <span>ahora</span></a></div><div class="voucher column large-3 medium-6 small-12 unavailable" data-voucher-id="14"><div class="vale">
        <p class="valor-vale atrapaloFont app-money-value vale-es_PE">
            <span><span class="currency">USD</span>20</span>
        </p>
        <div class="franja-puntos">
            <p class="app-points-price">700</p>
            <span>puntos</span>
        </div>
        </div>
        <a class="app-exchange-link canjear disabled" href="">Canjear <span>ahora</span></a></div><div class="voucher column large-3 medium-6 small-12 unavailable" data-voucher-id="15"><div class="vale">
        <p class="valor-vale atrapaloFont app-money-value vale-es_PE">
            <span><span class="currency">USD</span>50</span>
        </p>
        <div class="franja-puntos">
            <p class="app-points-price">1500</p>
            <span>puntos</span>
        </div>
        </div>
        <a class="app-exchange-link canjear disabled" href="">Canjear <span>ahora</span></a></div><div class="voucher column large-3 medium-6 small-12 unavailable" data-voucher-id="16"><div class="vale">
        <p class="valor-vale atrapaloFont app-money-value vale-es_PE">
            <span><span class="currency">USD</span>120</span>
        </p>
        <div class="franja-puntos">
            <p class="app-points-price">3000</p>
            <span>puntos</span>
        </div>
        </div>
        <a class="app-exchange-link canjear disabled" href="">Canjear <span>ahora</span></a></div></div></div></div>
        </div>
        <div class="row box-content resumen-puntos">
            <h4>Resumen de puntos</h4>
            <div class="columns">
                <div class="points-earned-history-container"><div class="points-earned-history-view"><div class="vouchers-list-empty">No has acumulado puntos todavía</div></div></div>
            </div>
        </div>

        <div class="row box-content resumen-vales">
            <h4>Resumen de Gift Cards</h4>
            <div class="columns">
                <div class="points-spent-history-container"><div class="points-spent-history-view"><div class="vouchers-list-empty">No has obtenido Gift Cards todavía</div></div></div>
            </div>
        </div>

        <div class="row box-content content-info-faq-miatrapalo show-for-medium">
        <h4>Preguntas más frecuentes</h4>
        <div class="columns marginbot10">
            <a href="https://soporte.atrapalo.pe/solution/articles/9000121997--c%C3%B3mo-funcionan-los-puntos-" target="_blank" class="link-faq-miatrapalo">
                ¿Cómo funcionan los puntos?
            </a>
        </div>
        <div class="columns marginbot10">
            <a href=" https://soporte.atrapalo.pe/solution/articles/9000121998--c%C3%B3mo-s%C3%A9-cu%C3%A1ntos-puntos-me-da-una-compra-" target="_blank" class="link-faq-miatrapalo">
                ¿Cómo sé cuántos puntos me da una compra?
            </a>
        </div>
        <div class="columns marginbot10">
            <a href="https://soporte.atrapalo.pe/solution/articles/9000121999--cu%C3%A1ndo-caducan-mis-puntos-" target="_blank" class="link-faq-miatrapalo">
                ¿Cuándo caducan mis puntos?
            </a>
        </div>
        <div class="columns marginbot10">
            <a href="https://soporte.atrapalo.pe/solution/articles/9000122002--c%C3%B3mo-funcionan-los-gift-cards-de-atrapapuntos-" target="_blank" class="link-faq-miatrapalo">
                ¿Cómo funcionan las Gifts Cards de AlojaPuntos?
            </a>
        </div>
        <div class="columns marginbot10">
            <a href="https://soporte.atrapalo.pe/solution/articles/9000122000--a-qu%C3%A9-premios-puedo-optar-con-mis-puntos-" target="_blank" class="link-faq-miatrapalo">
                ¿A qué premios puedo optar con mis Puntos?
            </a>
        </div>
        <div class="columns marginbot10">
            <a href="https://soporte.atrapalo.pe/support/solutions/articles/9000122004-t%C3%A9rminos-y-condiciones-del-programa" target="_blank" class="link-faq-miatrapalo">
                Términos y condiciones de AlojaPuntos</a>
        </div>
            <p class="floatr">
                <a href="https://soporte.atrapalo.pe/support/solutions/folders/9000179555" title="Ver todas las preguntas frecuentes">Ver todas <i class="fa fa-angle-right"></i></a>
            </p>
        </div>


        </div>
        </section>
    </div>
</div>
{% endblock%}