{% extends 'header.html' %}
{%load static%}
{% block content %}
<link href="plugins/colorbox/colorbox.css" rel="stylesheet" type="text/css">

    <div class="home">
        <div class="home_background parallax-window" data-parallax="scroll"
            data-image-src="images/AlojaTravelsViaje.png"></div>
        <div class="home_content">
            <div class="home_title">Ofertas de Viaje</div>
        </div>
    </div>

<!-- Offers -->

<div class="listing">

    <!-- Search -->

    <div class="search">
        <div class="search_inner">

            <!-- Search Contents -->

            <div class="container fill_height no-padding">
                <div class="row fill_height no-margin">
                    <div class="col fill_height no-padding">

                        <!-- Search Tabs -->

                        <div class="search_tabs_container">
                            <div
                                class="search_tabs d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
                                <div
                                    class="search_tab active d-flex flex-row align-items-center justify-content-lg-center justify-content-start">
                                    <img src="images/ofertas.png" alt=""><span>OFERTAS</span></div>
                                <div
                                    class="search_tab d-flex flex-row align-items-center justify-content-lg-center justify-content-start">
                                    <img src="images/viajes.png" alt="">VIAJES</div>
                                <div
                                    class="search_tab d-flex flex-row align-items-center justify-content-lg-center justify-content-start">
                                    <img src="images/viajesinternacionales.png" alt="">VIAJES INTERNACIONALES</div>
                                <div
                                    class="search_tab d-flex flex-row align-items-center justify-content-lg-center justify-content-start">
                                    <img src="images/paquetes.png" alt="">PAQUETES</div>
                                <div
                                    class="search_tab d-flex flex-row align-items-center justify-content-lg-center justify-content-start">
                                    <img src="images/hoteles.png" alt="">HOTELES</div>
                                <div
                                    class="search_tab d-flex flex-row align-items-center justify-content-lg-center justify-content-start">
                                    <img src="images/actividades.png" alt="">ACTIVIDADES</div>
                            </div>
                        </div>

                        <!-- Search Panel -->

                        <div class="search_panel active">
                            <form action="#" id="search_form_1"
                                class="search_panel_content d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
                                <div class="search_item">
                                    <div>DESTINO</div>
                                    <input type="text" class="destination search_input" required="required">
                                </div>
                                <div class="search_item">
                                    <div>FECHA IDA</div>
                                    <input type="text" class="check_in search_input" placeholder="YYYY-MM-DD">
                                </div>
                                <div class="search_item">
                                    <div>FECHA VUELTA</div>
                                    <input type="text" class="check_out search_input" placeholder="YYYY-MM-DD">
                                </div>
                                <div class="search_item">
                                    <div>ADULTO</div>
                                    <select name="adults" id="adults_1"
                                        class="dropdown_item_select search_input">
                                        <option>01</option>
                                        <option>02</option>
                                        <option>03</option>
                                    </select>
                                </div>
                                <div class="search_item">
                                    <div>NIÑOS</div>
                                    <select name="children" id="children_1"
                                        class="dropdown_item_select search_input">
                                        <option>0</option>
                                        <option>02</option>
                                        <option>03</option>
                                    </select>
                                </div>
                                <div class="extras">
                                    <ul class="search_extras clearfix">
                                        <li class="search_extras_item">
                                            <div class="clearfix">
                                                <input type="checkbox" id="search_extras_1"
                                                    class="search_extras_cb">
                                                <label for="search_extras_1">Pet Friendly</label>
                                            </div>
                                        </li>
                                        <li class="search_extras_item">
                                            <div class="clearfix">
                                                <input type="checkbox" id="search_extras_2"
                                                    class="search_extras_cb">
                                                <label for="search_extras_2">Car Parking</label>
                                            </div>
                                        </li>
                                        <li class="search_extras_item">
                                            <div class="clearfix">
                                                <input type="checkbox" id="search_extras_3"
                                                    class="search_extras_cb">
                                                <label for="search_extras_3">Wireless Internet</label>
                                            </div>
                                        </li>
                                        <li class="search_extras_item">
                                            <div class="clearfix">
                                                <input type="checkbox" id="search_extras_4"
                                                    class="search_extras_cb">
                                                <label for="search_extras_4">Reservations</label>
                                            </div>
                                        </li>
                                        <li class="search_extras_item">
                                            <div class="clearfix">
                                                <input type="checkbox" id="search_extras_5"
                                                    class="search_extras_cb">
                                                <label for="search_extras_5">Private Parking</label>
                                            </div>
                                        </li>
                                        <li class="search_extras_item">
                                            <div class="clearfix">
                                                <input type="checkbox" id="search_extras_6"
                                                    class="search_extras_cb">
                                                <label for="search_extras_6">Smoking Area</label>
                                            </div>
                                        </li>
                                        <li class="search_extras_item">
                                            <div class="clearfix">
                                                <input type="checkbox" id="search_extras_7"
                                                    class="search_extras_cb">
                                                <label for="search_extras_7">Wheelchair Accessible</label>
                                            </div>
                                        </li>
                                        <li class="search_extras_item">
                                            <div class="clearfix">
                                                <input type="checkbox" id="search_extras_8"
                                                    class="search_extras_cb">
                                                <label for="search_extras_8">Pool</label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="more_options">
                                    <div class="more_options_trigger">
                                        <a href="#">load more options</a>
                                    </div>
                                    <ul class="more_options_list clearfix">
                                        <li class="more_options_item">
                                            <div class="clearfix">
                                                <input type="checkbox" id="more_options_1"
                                                    class="search_extras_cb">
                                                <label for="more_options_1">Pet Friendly</label>
                                            </div>
                                        </li>
                                        <li class="more_options_item">
                                            <div class="clearfix">
                                                <input type="checkbox" id="more_options_2"
                                                    class="search_extras_cb">
                                                <label for="more_options_2">Car Parking</label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <button
                                    class="button search_button">BUSCAR<span></span><span></span><span></span></button>
                            </form>
                        </div>

                        <!-- Search Panel -->

                        <div class="search_panel">
                            <form action="#" id="search_form_2"
                                class="search_panel_content d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
                                <div class="search_item">
                                    <div>DESTINO</div>
                                    <input type="text" class="destination search_input" required="required">
                                </div>
                                <div class="search_item">
                                    <div>FECHA IDA</div>
                                    <input type="text" class="check_in search_input" placeholder="YYYY-MM-DD">
                                </div>
                                <div class="search_item">
                                    <div>FECHA VUELTA</div>
                                    <input type="text" class="check_out search_input" placeholder="YYYY-MM-DD">
                                </div>
                                <div class="search_item">
                                    <div>ADULTOS</div>
                                    <select name="adults" id="adults_2"
                                        class="dropdown_item_select search_input">
                                        <option>01</option>
                                        <option>02</option>
                                        <option>03</option>
                                    </select>
                                </div>
                                <div class="search_item">
                                    <div>NIÑOS</div>
                                    <select name="children" id="children_2"
                                        class="dropdown_item_select search_input">
                                        <option>0</option>
                                        <option>02</option>
                                        <option>03</option>
                                    </select>
                                </div>
                                <button
                                    class="button search_button">BUSCAR<span></span><span></span><span></span></button>
                            </form>
                        </div>

                        <!-- Search Panel -->

                        <div class="search_panel">
                            <form action="#" id="search_form_3"
                                class="search_panel_content d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
                                <div class="search_item">
                                    <div>DESTINO</div>
                                    <input type="text" class="destination search_input" required="required">
                                </div>
                                <div class="search_item">
                                    <div>FECHA IDA</div>
                                    <input type="text" class="check_in search_input" placeholder="YYYY-MM-DD">
                                </div>
                                <div class="search_item">
                                    <div>FECHA VUELTA</div>
                                    <input type="text" class="check_out search_input" placeholder="YYYY-MM-DD">
                                </div>
                                <div class="search_item">
                                    <div>ADULTOS</div>
                                    <select name="adults" id="adults_3"
                                        class="dropdown_item_select search_input">
                                        <option>01</option>
                                        <option>02</option>
                                        <option>03</option>
                                    </select>
                                </div>
                                <div class="search_item">
                                    <div>NIÑOS</div>
                                    <select name="children" id="children_3"
                                        class="dropdown_item_select search_input">
                                        <option>0</option>
                                        <option>02</option>
                                        <option>03</option>
                                    </select>
                                </div>
                                <button
                                    class="button search_button">BUSCAR<span></span><span></span><span></span></button>
                            </form>
                        </div>

                        <!-- Search Panel -->

                        <div class="search_panel">
                            <form action="#" id="search_form_4"
                                class="search_panel_content d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
                                <div class="search_item">
                                    <div>DESTINO</div>
                                    <input type="text" class="destination search_input" required="required">
                                </div>
                                <div class="search_item">
                                    <div>FECHA IDA</div>
                                    <input type="text" class="check_in search_input" placeholder="YYYY-MM-DD">
                                </div>
                                <div class="search_item">
                                    <div>FECHA VUELTA</div>
                                    <input type="text" class="check_out search_input" placeholder="YYYY-MM-DD">
                                </div>
                                <div class="search_item">
                                    <div>ADULTOS</div>
                                    <select name="adults" id="adults_4"
                                        class="dropdown_item_select search_input">
                                        <option>01</option>
                                        <option>02</option>
                                        <option>03</option>
                                    </select>
                                </div>
                                <div class="search_item">
                                    <div>NIÑOS</div>
                                    <select name="children" id="children_4"
                                        class="dropdown_item_select search_input">
                                        <option>0</option>
                                        <option>02</option>
                                        <option>03</option>
                                    </select>
                                </div>
                                <button
                                    class="button search_button">BUSCAR<span></span><span></span><span></span></button>
                            </form>
                        </div>

                        <!-- Search Panel -->

                        <div class="search_panel">
                            <form action="#" id="search_form_5"
                                class="search_panel_content d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
                                <div class="search_item">
                                    <div>DESTINO</div>
                                    <input type="text" class="destination search_input" required="required">
                                </div>
                                <div class="search_item">
                                    <div>FECHA IDA</div>
                                    <input type="text" class="check_in search_input" placeholder="YYYY-MM-DD">
                                </div>
                                <div class="search_item">
                                    <div>FECHA VUELTA</div>
                                    <input type="text" class="check_out search_input" placeholder="YYYY-MM-DD">
                                </div>
                                <div class="search_item">
                                    <div>ADULTOS</div>
                                    <select name="adults" id="adults_5"
                                        class="dropdown_item_select search_input">
                                        <option>01</option>
                                        <option>02</option>
                                        <option>03</option>
                                    </select>
                                </div>
                                <div class="search_item">
                                    <div>NIÑOS</div>
                                    <select name="children" id="children_5"
                                        class="dropdown_item_select search_input">
                                        <option>0</option>
                                        <option>02</option>
                                        <option>03</option>
                                    </select>
                                </div>
                                <button
                                    class="button search_button">BUSCAR<span></span><span></span><span></span></button>
                            </form>
                        </div>

                        <!-- Search Panel -->

                        <div class="search_panel">
                            <form action="#" id="search_form_6"
                                class="search_panel_content d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
                                <div class="search_item">
                                    <div>DESTINO</div>
                                    <input type="text" class="destination search_input" required="required">
                                </div>
                                <div class="search_item">
                                    <div>FECHA IDA</div>
                                    <input type="text" class="check_in search_input" placeholder="YYYY-MM-DD">
                                </div>
                                <div class="search_item">
                                    <div>FECHA VUELTA</div>
                                    <input type="text" class="check_out search_input" placeholder="YYYY-MM-DD">
                                </div>
                                <div class="search_item">
                                    <div>ADULTOS</div>
                                    <select name="adults" id="adults_6"
                                        class="dropdown_item_select search_input">
                                        <option>01</option>
                                        <option>02</option>
                                        <option>03</option>
                                    </select>
                                </div>
                                <div class="search_item">
                                    <div>NIÑOS</div>
                                    <select name="children" id="children_6"
                                        class="dropdown_item_select search_input">
                                        <option>0</option>
                                        <option>02</option>
                                        <option>03</option>
                                    </select>
                                </div>
                                <button
                                    class="button search_button">BUSCAR<span></span><span></span><span></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Single Listing -->

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="single_listing">

                <!-- Hotel Info -->

                <div class="hotel_info">

                    <!-- Title -->
                    <div class="hotel_title_container d-flex flex-lg-row flex-column">
                        <div class="hotel_title_content">
                            <h1 class="hotel_title">CATARATA TIGRE</h1>
                            <div class="rating_r rating_r_5 hotel_rating">
                                <i></i>
                                <i></i>
                                <i></i>
                                <i></i>
                                <i></i>
                            </div>
                            <div class="hotel_location">Regiones/ Huancayo, Pasco</div>
                        </div>
                        <div class="hotel_title_button ml-lg-auto text-lg-right">
                            <div class="button book_button trans_200"><a href="/register">comprar ahora<span></span><span></span><span></span></a></div>
                            <div class="hotel_map_link_container">
                                <div class="hotel_map_link">Galería de imágenes</div>
                            </div>
                        </div>
                    </div>

                    <!-- Listing Image -->

                    <div class="hotel_image">
                        <img src="images/SelvaCentral0.png" alt="">
                        <div class="hotel_review_container d-flex flex-column align-items-center justify-content-center">
                            <div class="hotel_review">
                                <div class="hotel_review_content">
                                    <div class="hotel_review_title">muy bueno</div>
                                    <div class="hotel_review_subtitle">100 visitas</div>
                                </div>
                                <div class="hotel_review_rating text-center">8.1</div>
                            </div>
                        </div>
                    </div>

                    <!-- Hotel Gallery -->

                    <div class="hotel_gallery">
                        <div class="hotel_slider_container">
                            <div class="owl-carousel owl-theme hotel_slider">

                                <!-- Hotel Gallery Slider Item -->
                                <div class="owl-item">
                                    <a class="colorbox cboxElement" href="images/SelvaCentral1.jpg">
                                        <img src="images/SelvaCentralMini1.jpg" alt="https://unsplash.com/@jbriscoe">
                                    </a>
                                </div>

                                <!-- Hotel Gallery Slider Item -->
                                <div class="owl-item">
                                    <a class="colorbox cboxElement" href="images/SelvaCentral2.jpg">
                                        <img src="images/SelvaCentralMini2.jpg" alt="https://unsplash.com/@grovemade">
                                    </a>
                                </div>

                                <!-- Hotel Gallery Slider Item -->
                                <div class="owl-item">
                                    <a class="colorbox cboxElement" href="images/SelvaCentral3.jpg">
                                        <img src="images/SelvaCentralMini3.jpg" alt="https://unsplash.com/@fransaraco">
                                    </a>
                                </div>

                                <!-- Hotel Gallery Slider Item -->
                                <div class="owl-item">
                                    <a class="colorbox cboxElement" href="images/SelvaCentral4.jpg">
                                        <img src="images/SelvaCentralMini4.jpg" alt="https://unsplash.com/@workweek">
                                    </a>
                                </div>

                                <!-- Hotel Gallery Slider Item -->
                                <div class="owl-item">
                                    <a class="colorbox cboxElement" href="images/SelvaCentral5.jpg">
                                        <img src="images/SelvaCentralMini5.jpg" alt="https://unsplash.com/@workweek">
                                    </a>
                                </div>

                                <!-- Hotel Gallery Slider Item -->
                                <div class="owl-item">
                                    <a class="colorbox cboxElement" href="images/SelvaCentral6.jpg">
                                        <img src="images/SelvaCentralMini6.jpg" alt="https://unsplash.com/@avidenov">
                                    </a>
                                </div>

                                <!-- Hotel Gallery Slider Item -->
                                <div class="owl-item">
                                    <a class="colorbox cboxElement" href="images/SelvaCentral7.jpg">
                                        <img src="images/SelvaCentralMini7.jpg" alt="https://unsplash.com/@pietruszka">
                                    </a>
                                </div>

                                <!-- Hotel Gallery Slider Item -->
                                <div class="owl-item">
                                    <a class="colorbox cboxElement" href="images/SelvaCentral8.jpg">
                                        <img src="images/SelvaCentralMini8.jpg" alt="https://unsplash.com/@rktkn">
                                    </a>
                                </div>

                                <!-- Hotel Gallery Slider Item -->
                                <div class="owl-item">
                                    <a class="colorbox cboxElement" href="images/SelvaCentral9.jpg">
                                        <img src="images/SelvaCentralMini9.jpg" alt="https://unsplash.com/@mindaugas">
                                    </a>
                                </div>
                            </div>

                            <!-- Hotel Slider Nav - Prev -->
                            <div class="hotel_slider_nav hotel_slider_prev">
                                <svg version="1.1" id="Layer_6" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                    width="28px" height="33px" viewBox="0 0 28 33" enable-background="new 0 0 28 33" xml:space="preserve">
                                    <defs>
                                        <linearGradient id='hotel_grad_prev'>
                                            <stop offset='0%' stop-color='#fa9e1b'/>
                                            <stop offset='100%' stop-color='#8d4fff'/>
                                        </linearGradient>
                                    </defs>
                                    <path class="nav_path" fill="#F3F6F9" d="M19,0H9C4.029,0,0,4.029,0,9v15c0,4.971,4.029,9,9,9h10c4.97,0,9-4.029,9-9V9C28,4.029,23.97,0,19,0z
                                    M26,23.091C26,27.459,22.545,31,18.285,31H9.714C5.454,31,2,27.459,2,23.091V9.909C2,5.541,5.454,2,9.714,2h8.571
                                    C22.545,2,26,5.541,26,9.909V23.091z"/>
                                    <polygon class="nav_arrow" fill="#F3F6F9" points="15.044,22.222 16.377,20.888 12.374,16.885 16.377,12.882 15.044,11.55 9.708,16.885 11.04,18.219
                                    11.042,18.219 "/>
                                </svg>
                            </div>

                            <!-- Hotel Slider Nav - Next -->
                            <div class="hotel_slider_nav hotel_slider_next">
                                <svg version="1.1" id="Layer_7" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                width="28px" height="33px" viewBox="0 0 28 33" enable-background="new 0 0 28 33" xml:space="preserve">
                                    <defs>
                                        <linearGradient id='hotel_grad_next'>
                                            <stop offset='0%' stop-color='#fa9e1b'/>
                                            <stop offset='100%' stop-color='#8d4fff'/>
                                        </linearGradient>
                                    </defs>
                                <path class="nav_path" fill="#F3F6F9" d="M19,0H9C4.029,0,0,4.029,0,9v15c0,4.971,4.029,9,9,9h10c4.97,0,9-4.029,9-9V9C28,4.029,23.97,0,19,0z
                                M26,23.091C26,27.459,22.545,31,18.285,31H9.714C5.454,31,2,27.459,2,23.091V9.909C2,5.541,5.454,2,9.714,2h8.571
                                C22.545,2,26,5.541,26,9.909V23.091z"/>
                                <polygon class="nav_arrow" fill="#F3F6F9" points="13.044,11.551 11.71,12.885 15.714,16.888 11.71,20.891 13.044,22.224 18.379,16.888 17.048,15.554
                                17.046,15.554 "/>
                                </svg>
                            </div>

                        </div>
                    </div>

                    <!-- Hotel Info Text -->

                    <div class="hotel_info_text text-dark">
                        <h1>Paquete</h1>
                        <h2>Información general</h2>
                        <ul>
                            <li><b>Precio:</b> S/ 1,200.00 Por persona</li>
                            <li><b>Max.Personas:</b> Grupo de 15 personas</li>
                            <li><b>Duración:</b> 5 días</li>
                            <li><b>Fecha de salida:</b> Todos los días</li>
                            <li><b>Hora de encuentro:</b> 7:50 am</li>
                            <li><b>Punto de encuentro:</b> Coordina</li>
                        </ul>
                        <h2>Incluye</h2>
                        <ul>
                            <li>Traslados terminal terrestre- hotel- terminal terrestre</li>
                            <li>04 Desayunos (Americanos / Continentales)</li>
                            <li>Guía Oficial de Turismo / Movilidad Turística local</li>
                            <li>04 Noches de alojamiento en habitación Matrimonial / doble</li>
                            <li>05 Días de Tours, detallados en el Programa</li>
                            <li>Ticket de Ingreso a los Atractivos Turísticos</li>
                        </ul>
                        <h2>No incluye</h2>
                        <ul>
                            <li>Pasajes de ciudad de origen, alimentación no mencionada, bebidas.</li>
                        </ul>
                        <h1>Itinerario</h1>
                        <h3>Día 01: Oxapampa / chontabamba</h3>
                        <p>10.00 am Tour al Pueblo de Chontabamba, visitaremos la quesera Perualp, caverna el Tunqui, aquí observaremos las formaciones geológicas de estalactitas y estalagmitas, el criadero de truchas “La Cumbre”, El Wharapo donde, plaza principal de Chontabamba, Iglesia, Puente Colgante que cruza el Río Chontabamba.</p>
                        <h3>Día 02: Tour al valle del perené “chanchamayo”</h3>
                        <p>07.00 am Desayuno, Tour al valle del Perené, visitando el mirador de la unión de los ríos Paucartambo y Chanchamayo formando el río Perené, visita a las cataras del Velo de la Novia y cataras de Bayoz, por la tarde visita la comunidad nativa Asháninka donde compartiremos danzas y costumbres típicas de la Selva Cental.</p>
                        <h3>Día 03: Tour pozuzo “colonia austro - alemana”</h3>
                        <p>8.00 am Inicio del viaje a “Pozuzo” tierra de la Colonia Austro-Alemana un pedacito de Europa en plena Selva Central, City Tour Pozuzo visitaremos la Iglesia, su plaza principal, el Puente Colgante Emperador Guillermo I, el Museo “Francisco Shafferer”, y el Cementerio de Colonos. Por la tarde disfrutaremos de un refrescante baño en la Catarata Yulitunqui.</p>
                        <h3>Día 04: Tour parque nacional yanachaga chemillen</h3>
                        <p>08.30 am Tour de Naturaleza y biodiversidad en el Parque nacional de Yanachaga Chemillén “Sector de San Alberto” en el viaje observaremos las arquitecturas de las casas típicas de la zona, ingreso al bosque de neblina, donde observaremos una gran variedad de plantas como bromelias, orquídeas, helechos Gigantes.</p>
                        <h3>Día 05: Tour al villa rica tierra del café</h3>
                        <p>08.30 am Tour a la ciudad de Villa Rica ganadora del grano de café más fino del Mundo, visitando el Mirador Natural, la Plaza Principal, la Cascada del León, la Laguna el Oconal Aquí gozaremos de un tratamiento conocido como la Ictioterapia, (limpieza de los pies con el uso de peces) que te consumen las células muertas, Retornaremos a la ciudad de Villa Rica para visitar las tiendas de artesanías y poder degustar del delicioso Café.</p>
                        <h3>Condiciones y vigencia:</h3>
                        <p>Servicio en pull (En grupo). Precio por persona en habitación doble/ matrimonial / Triple. Válido Semana Santa, Fiestas Patrias, Feriados Largos hasta Diciembre 2022.  No incluye los   pasajes de ciudad de origen viceversa. Tarifa de Niño: De 0 – 5 años no pagan, ni tienen derecho a servicios y viajan bajo responsabilidad y tutela de sus padres. De 5 a 9 años, 15% de descuento, compartiendo cama, mínimo 2  adultos acompañantes. Sujeto a disponibilidad. Las anulaciones / postergaciones de reservas deberán ser 15 días antes del arribo del turista, de lo contrario se cobrará el 50 % de paquete. En caso del no show se cobrará el 100 % del paquete, la reserva se dará por anulada cuando tenga la conformidad de anulación enviada por nuestro departamento de reservas vía email: Precios incluyen IGV / Precios exonerados del IGV (para destinos amazónicos).</p>
                    </div>

                    <!-- Hotel Info Tags -->

                    <div class="hotel_info_tags">
                        <ul class="hotel_icons_list">
                            <li class="hotel_icons_item"><img src="images/post.png" alt=""></li>
                            <li class="hotel_icons_item"><img src="images/compass.png" alt=""></li>
                            <li class="hotel_icons_item"><img src="images/bicycle.png" alt=""></li>
                            <li class="hotel_icons_item"><img src="images/sailboat.png" alt=""></li>
                        </ul>
                    </div>

                </div>


                <!-- Location on Map -->

                <div class="location_on_map">
                    <div class="location_on_map_title">Ubicación del Mapa</div>

                    <!-- Google Map -->

                    <div class="travelix_map">
                        <div id="google_map" class="google_map">
                            <div class="map_container">
                                <div id="map"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!-- Footer -->

<footer class="footer">
    <div class="container">
        <div class="row">

            <!-- Footer Column -->
            <div class="col-lg-3 footer_column">
                <div class="footer_col">
                    <div class="footer_content footer_about">
                        <div class="logo_container footer_logo">
                            <div class="logo"><a href="#"><img src="images/LogoAlojaTravelsBlanco.png"
                                        alt=""></a></div>
                        </div>
                        <p class="footer_about_text">Conoce el Perú con nosotros y vive experiencias inolvidables con los tours que tenemos para ti.</p>
                        <ul class="footer_social_list">
                            <li class="footer_social_item"><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                            <li class="footer_social_item"><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li class="footer_social_item"><a href="#"><i class="fa fa-whatsapp"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Footer Column -->
            <div class="col-lg-3 footer_column">
                <div class="footer_col">
                    <div class="footer_title">últimas noticias</div>
                    <div class="footer_content footer_blog">

                        <!-- Footer blog item -->
                        <div class="footer_blog_item clearfix">
                            <div class="footer_blog_image"><img src="images/footer_blog_1.jpg"
                                    alt="https://unsplash.com/@avidenov"></div>
                            <div class="footer_blog_content">
                                <div class="footer_blog_title"><a href="blog.html">Nuevos Tours 2022</a>
                                </div>
                                <div class="footer_blog_date">May 29, 2022</div>
                            </div>
                        </div>

                        <!-- Footer blog item -->
                        <div class="footer_blog_item clearfix">
                            <div class="footer_blog_image"><img src="images/footer_blog_2.jpg"
                                    alt="https://unsplash.com/@deannaritchie"></div>
                            <div class="footer_blog_content">
                                <div class="footer_blog_title"><a href="blog.html">Nuevos destinos para ti</a>
                                </div>
                                <div class="footer_blog_date">Nov 29, 2021</div>
                            </div>
                        </div>

                        <!-- Footer blog item -->
                        <div class="footer_blog_item clearfix">
                            <div class="footer_blog_image"><img src="images/footer_blog_3.jpg"
                                    alt="https://unsplash.com/@bergeryap87"></div>
                            <div class="footer_blog_content">
                                <div class="footer_blog_title"><a href="blog.html">Planes Máncora 2021</a>
                                </div>
                                <div class="footer_blog_date">Jul 28, 2021</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Footer Column -->
            <div class="col-lg-3 footer_column">
                <div class="footer_col">
                    <div class="footer_title">etiquetas</div>
                    <div class="footer_content footer_tags">
                        <ul class="tags_list clearfix">
                            <li class="tag_item"><a href="#">viajes</a></li>
                            <li class="tag_item"><a href="#">tours</a></li>
                            <li class="tag_item"><a href="#">aventura</a></li>
                            <li class="tag_item"><a href="#">playa</a></li>
                            <li class="tag_item"><a href="#">museo</a></li>
                            <li class="tag_item"><a href="#">selva</a></li>
                            <li class="tag_item"><a href="#">festividades</a></li>
                            <li class="tag_item"><a href="#">sierra</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Footer Column -->
            <div class="col-lg-3 footer_column">
                <div class="footer_col">
                    <div class="footer_title">datos de contacto</div>
                    <div class="footer_content footer_contact">
                        <ul class="contact_info_list">
                            <li class="contact_info_item d-flex flex-row">
                                <div>
                                    <div class="contact_info_icon"><img src="images/placeholder.svg" alt="">
                                    </div>
                                </div>
                                <div class="contact_info_text">Jr.Junin #646 - El Tambo</div>
                            </li>
                            <li class="contact_info_item d-flex flex-row">
                                <div>
                                    <div class="contact_info_icon"><img src="images/phone-call.svg" alt="">
                                    </div>
                                </div>
                                <div class="contact_info_text">990-555-921</div>
                            </li>
                            <li class="contact_info_item d-flex flex-row">
                                <div>
                                    <div class="contact_info_icon"><img src="images/message.svg" alt=""></div>
                                </div>
                                <div class="contact_info_text"><a
                                        href="mailto:contactme@gmail.com?Subject=Hello"
                                        target="_top">contactme@gmail.com</a></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>

<!-- Copyright -->
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 order-lg-1 order-2  ">
                <div class="copyright_content d-flex flex-row align-items-center">
                    <div>
                        Copyright &copy;<script>
                            document.write(new Date().getFullYear());
                        </script> por Aloja Travels
                    </div>
                </div>
            </div>
            <div class="col-lg-9 order-lg-2 order-1">
                <div class="footer_nav_container d-flex flex-row align-items-center justify-content-lg-end">
                    <div class="footer_nav">
                        <ul class="footer_nav_list">
                            <li class="footer_nav_item"><a href="#">INICIO</a></li>
                            <li class="footer_nav_item"><a href="about.html">NOSOTROS</a></li>
                            <li class="footer_nav_item"><a href="offers.html">VIAJES</a></li>
                            <li class="footer_nav_item"><a href="blog.html">NOTICIAS</a></li>
                            <li class="footer_nav_item"><a href="contact.html">CONTÁCTANOS</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}